.section-1 {
  background-color: #fafafa;
}
.section-1-container .laptop-img {
  position: relative;
}
.section-1-container .laptop-img img {
  position: absolute;
  max-width: 170px;
  left: 0;
  top: -80px;
}
.section-1-container__subheading h2 {
  font-size: 45px;
  color: #03363d;
  margin: 0 auto 30px auto;
  font-family: 'Roboto';
  font-weight: 700;
}
@media screen and (max-width: 1130px) {
  .section-1-container__subheading h2 {
    max-width: 50%;
    line-height: 55px;
  }
}
.section-1-container__info p {
  font-size: 22px;
  font-weight: 400;
  color: gray;
  line-height: 28px;
}
.section-1-container__triple-promo {
  display: flex;
  margin: 40px auto;
  justify-content: center;
}
.section-1-container__triple-promo .promo {
  flex: 1 1;
  margin: 0 8px;
  background-color: #fff;
  padding: 25px;
}
.section-1-container__triple-promo .promo h3 {
  color: #03363d;
  font-family: 'Roboto';
  text-align: left;
  font-size: 22px;
  font-weight: 600;
}
.section-1-container__triple-promo .promo p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  color: #3d5154;
  line-height: 23px;
}
@media screen and (max-width: 799px) {
  .section-1-container .laptop-img img {
    position: unset;
    top: 0;
    width: 140px;
  }
  .section-1-container__subheading {
    margin-top: 50px;
  }
  .section-1-container__subheading h2 {
    line-height: unset;
    max-width: 100%;
    font-size: 35px;
  }
  .section-1-container__info p {
    font-size: 18px;
  }
  .section-1-container__triple-promo {
    flex-direction: column;
  }
}
