.section-3 {
  background: #174d4d;
  color: white;
}
.section-3-container {
  display: flex;
}
@media screen and (max-width: 1130px) {
  .section-3-container {
    flex-direction: column-reverse;
  }
}
.section-3-container-info {
  flex: 50%;
  padding: 20px;
}
.section-3-container-info__products {
  display: flex;
  text-align: left;
  margin-bottom: 50px;
}
.section-3-container-info__products-title {
  flex: 1 1 50%;
}
.section-3-container-info__products-title h2 {
  font-weight: 600;
  margin: 0;
}
.section-3-container-info__products-title p {
  font-size: 15px;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.section-3-container-info__products-title p:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}
.section-3-container-info__blocks {
  display: flex;
  flex-wrap: wrap;
}
.section-3-container-info__blocks-block {
  flex: 1 1 47%;
  text-align: left;
  display: flex;
  margin: 30px 5px;
  cursor: pointer;
  transition: all 1s;
}
.section-3-container-info__blocks-block-img {
  background-repeat: no-repeat;
  box-shadow: 0 1px 10px #03363d;
  /* flex: 1 1 25%; */
  background-color: #03363d;
  height: 60px;
  width: 60px;
  background-position: center;
  margin-right: 20px;
  background-size: 15px;
  transition: all 0.5s;
}
.section-3-container-info__blocks-block-desc {
  flex: 0 1 60%;
  display: flex;
  flex-direction: column;
}
.section-3-container-info__blocks-block-desc h4 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 600;
}
.section-3-container-info__blocks-block-desc p {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.5s;
}
.section-3-container-info__blocks-block:hover .section-3-container-info__blocks-block-img {
  background-color: white!important;
}
.section-3-container-info__blocks-block:hover p {
  cursor: pointer;
  text-decoration: underline;
}
.section-3-container-text {
  flex: 50%;
  padding: 20px;
}
.section-3-container-text__info {
  text-align: left;
}
.section-3-container-text__info h2 {
  font-size: 45px;
  margin: 0;
}
.section-3-container-text__info p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}
.section-3-container-text__img img {
  display: none;
  width: 100%;
}
@media screen and (max-width: 799px) {
  .section-3-container {
    padding: 50px 15px!important;
  }
  .section-3-container-info,
  .section-3-container-text {
    padding: 0;
  }
  .section-3-container-text {
    margin-bottom: 30px;
  }
  .section-3-container-text__info h2 {
    font-size: 38px;
  }
  .section-3-container-text__info p {
    font-size: 14px;
  }
}
