.section-3 {
    background: #174d4d;
    color: white;


    &-container {
            display: flex;
   
            @media screen and (max-width: 1130px) {
                flex-direction: column-reverse;
            }

        &-info {
            flex: 50%;
            padding: 20px;

            &__products {
                display: flex;
                text-align: left;
                margin-bottom: 50px;

                &-title {
                    flex: 1 1 50%;

                    h2 {
                        font-weight: 600;
                        margin: 0;
                    }

                    p {
                        font-size: 15px;
                        transition: all 0.5s;
                        border-bottom: 1px solid transparent;
                        display: inline-block;

                        &:hover {
                            cursor: pointer;
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }

            &__blocks {
                display: flex;
                flex-wrap: wrap;

                &-block {
                    flex: 1 1 47%;
                    text-align: left;
                    display: flex;
                    margin: 30px 5px;
                    cursor: pointer;
                    transition: all 1s;


                    &-img {
                        background-repeat: no-repeat;
                        box-shadow: 0 1px 10px #03363d;
                        /* flex: 1 1 25%; */
                        background-color: #03363d;
                        height: 60px;
                        width: 60px;
                        background-position: center;
                        margin-right: 20px;
                        background-size: 15px;
                        transition: all 0.5s;
                    }

                    &-desc {
                        flex: 0 1 60%;
                        display: flex;
                        flex-direction: column;


                        h4 {
                            margin: 0 0 10px 0;
                            font-size: 24px;
                            font-weight: 600;
                        }

                        p {
                            margin: 0;
                            font-size: 15px;
                            font-weight: 400;
                            transition: all 0.5s;
                        }
                    }


                    &:hover {
                        .section-3-container-info__blocks-block-img {
                            background-color: white!important;
                        }

                        p {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &-text {
            flex: 50%;
            padding: 20px;

            &__info {
                text-align: left;

                h2 {
                    font-size: 45px;
                    margin: 0;
                }

                p {
                    font-size: 16px;
                    line-height: 25px;
                    font-weight: 300;
                }
            }

            &__img {

                // .active {
                //     display: block;
                // }

                // .hidden {
                //     display: none;
                // }

                img {
                    display: none;
                    width: 100%;
                }
            }
        }
    }

    @media screen and (max-width: 799px) {
        
        &-container {
            padding: 50px 15px!important;
            &-info,
            &-text {
                padding: 0;
            }

            &-text {
                margin-bottom: 30px;
                &__info {
                    h2 {
                        font-size: 38px;
                    }
                    p {
                        font-size: 14px;
                    }
                }                
            }

            &-info {

            }



        }
    }
}