.section {
  background: #fed6a8;
  padding: 70px 0!important;
}
.section-container {
  position: relative;
  padding: 50px 20px;
}
.section-container__heading {
  margin: 0 auto;
  padding: 0 250px;
}
@media screen and (max-width: 1130px) {
  .section-container__heading {
    padding: 0 150px;
  }
}
.section-container__heading h1 {
  font-size: 70px;
  color: #03363d;
  margin: 0;
}
.section-container__subheading h2 {
  font-size: 40px;
  color: #03363d;
  padding: 10px 0;
  margin: 0;
}
.section-container__info {
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  max-width: 40%;
  margin: 0 auto;
}
@media screen and (max-width: 1130px) {
  .section-container__info {
    max-width: 60%;
  }
}
@media screen and (max-width: 1130px) {
  .section-container__info {
    max-width: 100%;
  }
  .section-container__heading {
    max-width: 100%;
  }
}
.section-container__cta {
  margin: 60px 0;
}
.section-container__cta .btn {
  margin: 8px;
  padding: 17px 30px;
  text-decoration: none;
  font-weight: 500;
}
@media screen and (max-width: 1130px) {
  .section-container__cta .btn {
    display: inline-block;
  }
}
.section-container__cta .btn:hover {
  background-color: #03363d;
  border-color: #174d4d;
  color: white;
}
.section-container .trial-cta {
  background: #174d4d;
  color: white;
  border: 2px solid #174d4d;
}
.section-container .demo-cta {
  background-color: transparent;
  border: 2px solid #174d4d;
  color: #174d4d;
}
.section-container img {
  max-width: 275px;
  position: absolute;
  right: 0px;
  bottom: -70px;
}
@media screen and (max-width: 1130px) {
  .section-container img {
    max-width: 240px;
  }
}
@media screen and (max-width: 799px) {
  .section {
    padding: 0!important;
  }
  .section-container {
    max-width: 100%!important;
    padding: 70px 10px 0px 10px!important;
  }
  .section-container__heading {
    padding: 0!important;
  }
  .section-container__heading h1 {
    font-size: 40px;
  }
  .section-container__subheading h2 {
    font-size: 35px;
  }
  .section-container img {
    position: unset;
    max-width: 60%;
    margin-bottom: -4px;
  }
}
