.section-2-container {
  padding: 50px 20px 100px 20px !important;
}
.section-2-container__heading h2 {
  font-size: 32px;
  font-family: 'Roboto';
  margin: 0 0 10px 0;
}
.section-2-container__toggle {
  display: flex;
  justify-content: center;
}
.section-2-container__toggle-support,
.section-2-container__toggle-sales {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  margin: 15px;
  padding: 15px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: grey;
  cursor: pointer;
  position: relative;
}
.section-2-container__toggle-support::after,
.section-2-container__toggle-sales::after {
  border-bottom: 4px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  width: 100%;
}
.section-2-container__toggle-support:hover::after,
.section-2-container__toggle-sales:hover::after {
  border-bottom: 4px solid #03363d;
  transform: scaleX(1);
}
.section-2-container__support-info,
.section-2-container__sales-info {
  display: flex;
}
.section-2-container__support-info-text,
.section-2-container__sales-info-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 50%;
  text-align: left;
}
.section-2-container__support-info-text #staples-content,
.section-2-container__sales-info-text #staples-content {
  margin: 2rem 0 0 2rem;
  border-left: 3px solid gray;
  padding-left: 1.5rem;
}
.section-2-container__support-info-text #staples-content img,
.section-2-container__sales-info-text #staples-content img {
  max-width: 170px;
  margin-bottom: 20px;
}
.section-2-container__support-info-text-container,
.section-2-container__sales-info-text-container {
  max-width: 80%;
}
.section-2-container__support-info-text-container:first-child,
.section-2-container__sales-info-text-container:first-child {
  margin-bottom: 50px;
}
.section-2-container__support-info-text-container__title,
.section-2-container__sales-info-text-container__title {
  color: grey;
  font-family: 'Roboto';
  font-weight: 500 !important;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.section-2-container__support-info-text-container h2,
.section-2-container__sales-info-text-container h2 {
  font-size: 48px;
  color: #03363d;
  margin: 20px 0;
}
.section-2-container__support-info-text-container p,
.section-2-container__sales-info-text-container p {
  color: #3d5154;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 200;
}
.section-2-container__support-info__img,
.section-2-container__sales-info__img {
  position: relative;
  flex: 50%;
  margin: 0 auto;
}
.section-2-container__support-info__img-primary,
.section-2-container__sales-info__img-primary {
  max-width: 100%;
}
.section-2-container__support-info__img-secondary,
.section-2-container__sales-info__img-secondary {
  max-width: 90%;
  position: absolute;
  bottom: -50px;
  right: 0;
}
@media screen and (max-width: 915px) {
  .section-2-container__support-info__img-secondary,
  .section-2-container__sales-info__img-secondary {
    bottom: 100px;
    right: 0;
  }
}
@media screen and (max-width: 799px) {
  .section-2-container__support-info__img-secondary,
  .section-2-container__sales-info__img-secondary {
    right: 0px;
  }
}
.section-2-container__support-info__img-secondary-sales,
.section-2-container__sales-info__img-secondary-sales {
  max-width: 90%;
  position: absolute;
  bottom: -100px;
  left: -60px;
}
@media screen and (max-width: 799px) {
  .section-2 {
    right: 0px;
  }
  .section-2 .mobile {
    display: block!important;
  }
  .section-2-container {
    padding: 50px 20px 20px 20px !important;
  }
  .section-2-container__heading {
    text-align: left;
  }
  .section-2-container__toggle {
    display: none;
  }
  .section-2-container__sales-info {
    display: flex !important;
    flex-direction: column-reverse;
    margin: 50px 20px;
  }
  .section-2-container__sales-info-text-container {
    max-width: 100%;
  }
  .section-2-container__sales-info-text-container__title {
    font-size: 12px;
  }
  .section-2-container__sales-info-text-container h2 {
    font-size: 34px;
  }
  .section-2-container__sales-info-text-container p {
    font-size: 15px;
  }
  .section-2-container__sales-info__img {
    max-width: 80%;
    margin: 0 auto 70px auto;
  }
  .section-2-container__sales-info__img-secondary-sales {
    bottom: -120px;
    left: 0;
    max-width: 100%;
  }
  .section-2-container__sales-info #staples-content {
    padding: 0;
    margin: 0;
    border: none;
  }
  .section-2-container__support-info {
    flex-direction: column-reverse;
    margin: 50px 20px;
  }
  .section-2-container__support-info-text-container {
    max-width: 100%;
  }
  .section-2-container__support-info-text-container__title {
    font-size: 12px;
  }
  .section-2-container__support-info-text-container h2 {
    font-size: 34px;
  }
  .section-2-container__support-info-text-container p {
    font-size: 15px;
  }
  .section-2-container__support-info__img {
    max-width: 80%;
    margin: 0 auto 70px auto;
  }
  .section-2-container__support-info__img-secondary {
    right: 0px;
    bottom: -80px;
    max-width: 90%;
  }
}
